@media(max-width:700px){
    body{
        text-align: center;
        font-family:cursive;
        background-color: rgb(255, 255, 255);

    }
    h3{
        color: rgb(0, 0, 0);
        font-size: 30px;
        background-color: rgb(12, 203, 203)
    }
    li{
        color: rgb(0, 0, 0);
        font-size: x-large;

    }
    .button{
        background-color: rgb(12, 203, 203);
        color: rgb(0, 0, 0);
        font-size: x-large;
        height: 50px;
        border-radius: 10px;
    }
    .button:hover{
        color: blue;    
    }
    .button:active{
        background-color: lightblue;
        color: white;
    }
    .Hyper{
            color: rgb(0, 0, 0);
        text-align: center;
    }
    img{
        height: 300px;
        grid-row: span 3;
        border-radius: 50%;
    }
}
@media(max-width:2000px) and (min-width:700px){
    body{
        background-color: #ff4d4d;

    }
    h3{
        color: rgb(238, 255, 0);
        font-size: 30px;
        margin: none;
    }
    li{
        color: rgb(0, 0, 0);
        font-size: x-large;
        background-color: rgb(12, 203, 203)
    }
    .button{
        background-color: blue;
        color: rgb(229, 255, 0);
        font-size: x-large;
        height: 50px;
        border-radius: 25px;
    }
    .button:hover{
        background-color: rgb(43, 255, 0);
        color: blue;
    }
    .button:active{
        background-color: lightblue;
        color: white;
    }
    .Hyper{
        color: rgb(255, 247, 0);
        font-family: cursive;
    }
    img{
        height: 300px;
        grid-row: span 3;
        border-radius: 50%;
    }
    .grid1{
        display: grid;
        grid-template-rows: 100px 100px 100px;
        grid-template-columns: 50vw 50vw;
        background-color: rgb(255, 255, 255);
        max-width: 500px;
    }
}