@media(max-width:700px){
    body{
        text-align: center;
        font-family:cursive;
        background-color: rgb(255, 255, 255);

    }
    h3{
        color: rgb(0, 0, 0);
        font-size: 30px;
        background-color: rgb(12, 203, 203)
    }
    li{
        color: rgb(0, 0, 0);
        font-size: x-large;

    }
    .button{
        background-color: rgb(12, 203, 203);
        color: rgb(0, 0, 0);
        font-size: x-large;
        height: 50px;
        border-radius: 10px;
    }
    .button:hover{
        color: blue;    
    }
    .button:active{
        background-color: lightblue;
        color: white;
    }
    .Hyper{
            color: rgb(0, 0, 0);
        text-align: center;
    }
    img{
        height: 300px;
        grid-row: span 3;
        border-radius: 50%;
    }
    p{
        font-size: xx-large;
        text-align: center;
        color: rgb(0, 255, 204);
        font-family: sans-serif;
        margin: 0px;
        padding: 0px;
        font-size: 12vh;
        background-color: rgb(234, 0, 255);
    }
}
@media(max-width:2000px) and (min-width:700px){
    body{
        background-color: rgb(255, 255, 255);
        font-family:sans-serif;
    }
    h3{
        color: rgb(0, 0, 0);
        font-size: 30px;
        background-color: rgb(12, 203, 203)
    }
    li{
        color: rgb(0, 0, 0);
        font-size: x-large;

    }
    .button{
        background-color: rgb(12, 203, 203);
        color: rgb(0, 0, 0);
        font-size: x-large;
        height: 50px;
        border-radius: 10px;
    }
    .button:hover{
        color: blue;    
    }
    .button:active{
        background-color: lightblue;
        color: white;
    }
    .Hyper{
        color: rgb(0, 0, 0);
    }
    img{
        height: 300px;
        grid-row: span 3;
        border-radius: 50%;
    }
    p{
        font-size: xx-large;
        text-align: center;
        color: rgb(0, 255, 204);
        font-family: sans-serif;
        margin: 0px;
        padding: 0px;
        font-size: 12vh;
        background-color: rgb(234, 0, 255);
    }
}